/* Base */

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

/* Typography */

/* The infamous impact font! */

@font-face {
    font-family: Impact;
    src: url('../fonts/impact.ttf');
}

p {
    margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

small, .text_small {
    font-size: 0.8em;
}

/* Elements */

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: rgb(235, 242, 247);
    padding: 10px;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    border: 1px solid pink;
}

/* Grid elemens */

.meme-img {
    width: 200px;
    height: 200px;
    max-height: 100%;
    background-position: center center;
    object-fit: cover;
    cursor: pointer;
}

.caption {
    display: block;
    text-align: center;
    font-family: Impact, arial, sans-serif;
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    position: absolute;
    top: 100px;
    left: 100px;
    cursor: pointer;
    font-size: 50px;
}

.caption:focus {
    cursor: text;
}

.editor-wrapper {
    text-align: center;
}

.editor-container {
    padding-top: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

[contenteditable]:focus {
    outline: 2px dashed rgba(0, 0, 0, 0.5);
}

.canvas-main {
    border: 1px solid #333;
}

.caption-tools {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}