/* Base */

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

/* Typography */

/* The infamous impact font! */

@font-face {
    font-family: Impact;
    src: url('../fonts/impact.ttf');
}

p {
    margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

small, .text_small {
    font-size: 0.8em;
}

/* Elements */

.gallery-wrapper {
    max-width: 980px;
    margin: auto;
    padding: 10px 10px;
}

.gallery header {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    max-width: 980px;
    margin: 20px auto;
    align-items: stretch;
    justify-content: space-between;
}

.gallery-toolbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.gallery-tool {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ececec;
    border-radius: 3px;
    padding: 1rem;
    flex-basis: 50%;
}

.meme-img {
    width: 200px;
    height: 200px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
}

.meme-search-box>* {
    width: initial;
}

@media (max-width:420px) {
    .meme-search-box>* {
        width: 100%;
    }
    .gallery-tool {
        flex-direction: column;
    }
}

@media (max-width:740px) {
    .gallery-toolbar {
        flex-direction: column;
    }
    .gallery-tool {
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }
    .grid-container {
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        max-width: 980px;
        align-items: stretch;
        justify-content: space-around;
    }
    .meme-img {
        width: 100%;
    }
}

/* Grid Elements */

.meme-img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
}

.selected-img {
    width: 20vw;
}

.caption {
    display: block;
    text-align: center;
    text-overflow: clip;
    line-height: 1;
    font-family: Impact, arial, sans-serif;
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    position: absolute;
    top: 100px;
    left: 100px;
    cursor: pointer;
    font-size: 50px;
}

.caption:focus {
    cursor: text;
}

.editor-wrapper {
    text-align: center;
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.editor-container {
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

[contenteditable]:focus {
    outline: 2px dashed rgba(0, 0, 0, 0.5);
}

.canvas-main {
    max-width: 50vw;
}

@media (max-width:740px) {
    .canvas-main {
        max-width: 100%;
    }
    .tools-wrapper {
        position: fixed;
        bottom: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: #f4f4f4;
        padding: 10px 0;
    }
}

.caption-tools {
    max-width: 500px;
    margin: 10px auto 0px auto;
    text-align: center;
}

.edit-tools {
    display: flex;
    justify-content: center;
}

@media (max-width:420px) {}

.btn {
    margin: 0 20px 10px 0;
}

input[type="search"] {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #333;
}

button {
    background: 0;
    border: 1px solid #333;
    background: #fff;
    border-radius: 3px;
    min-width: 40px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
    margin-right: 0;
    display: inline-block;
    font-weight: 700;
    -webkit-appearance: none;
}

button:focus {
    outline: 0;
}

.btn-group {
    display: inline-block;
    font-size: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn-group button {
    padding: 0.2rem 0.5rem;
    border-left: 0;
    border-radius: 0;
}

.btn-group button:first-child {
    border-left: 1px solid #333;
    border-radius: 3px 0px 0px 3px;
}

.btn-group button:last-child {
    border-right: 1px solid #333;
    border-radius: 0px 3px 3px 0px;
}

button:hover {
    background-color: red;
    color: #fff;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 40px;
    background: 0;
}

input[type="color"]:focus {
    outline: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper:focus {
    outline: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 3px;
    height: 30px;
    margin-top: -1px;
    border: 1px solid #333;
    box-sizing: border-box;
}

input[type="color"]::-webkit-color-swatch:active {
    outline: 0;
}

.color-swatch {
    position: relative;
    cursor: pointer;
}

.color-swatch .fas {
    position: absolute;
    top: 6px;
    left: 15px;
    mix-blend-mode: difference;
    color: #ffff;
}

.switch-view {
    position: fixed;
    top: 0;
    left: 0;
}