/* ========== */

/* Base */

/* ========== */

:root {
    --main-border-color: rgba(255, 255, 255, 0.5);
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 400;
    line-height: 1.45;
    color: #ffffff;
    background-color: #20262e;
}

/* ========== */

/* Typography */

/* ========== */

/* The infamous impact font! */

@font-face {
    font-family: 'Impact';
    src: url('../fonts/impact.ttf');
}

p {
    margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

small, .text_small {
    font-size: 0.8em;
}

/* ========== */

/* Buttons and inputs */

/* ========== */

input {
    background: #1b2027;
    color: #fff;
    height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    border: 1px solid var(--main-border-color);
    -webkit-appearance: none;
    box-sizing: border-box;
}

@media (max-width:420px) {
    input[type="search"] {
        width: 100%;
        text-align: center;
    }
    .search-box-icon {
        height: 40px;
    }
}

label, button {
    background: none;
    border: 1px solid var(--main-border-color);
    color: #ffffff;
    border-radius: 3px;
    min-width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 0;
    display: inline-block;
    font-weight: 500;
}

label:hover {
    background-color: #0963b8;
    color: #fff;
}

@media (max-width:420px) {
    button {
        background: 0;
        border: 1px solid var(--main-border-color);
        background: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 0;
        display: inline-block;
        font-weight: 700;
        -webkit-appearance: none;
    }
}

label.upload-meme-btn i {
    margin-right: 0.3rem;
    color: var(--main-border-color);
    font-size: 0.8em;
}

label.upload-meme-btn {
    position: static;
    bottom: 5px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.5rem;
    box-sizing: border-box;
}

.btn {
    margin: 0 20px 10px 0;
}

button:focus {
    outline: 0;
}

.btn-group {
    display: inline-block;
    font-size: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn-group button {
    padding: 0.2rem 0.5rem;
    border-left: 0;
    border-radius: 0px;
}

.btn-group button:first-child {
    border-left: 1px solid var(--main-border-color);
    border-radius: 3px 0px 0px 3px;
}

.btn-group button:last-child {
    border-right: 1px solid var(--main-border-color);
    border-radius: 0px 3px 3px 0px;
}

.btn-group a {
    margin-left: -1px;
}

@media (max-width:420px) {
    .btn-group a {
        margin-left: 0;
    }
    .btn-group button {
        border: 1px solid var(--main-border-color);
        border-radius: 3px;
        margin-right: 0.1rem;
    }
    .btn-group button:first-child {
        border-radius: 3px;
    }
    .btn-group button:last-child {
        border-radius: 3px;
    }
}

button:hover {
    background: #0963b8;
    color: #fff;
}

.color-swatch {
    cursor: pointer;
    margin-right: 0.5rem;
}

/* ========== */

/* Header */

/* ========== */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c2128;
    box-shadow: 0 0 5px rgba(28, 33, 40, 0);
}

.logo-container {
    width: 100%;
}

@media (max-width:740px) {
    .logo-container {
        flex-shrink: 2;
        order: -1;
    }
}

.logo {
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    padding: 0px 20px 25px 20px;
    text-align: center;
    cursor: pointer;
}

/* ========== */

/* Gallery */

/* ========== */

.gallery-wrapper {
    max-width: 980px;
    margin: auto;
    padding: 10px 10px;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 980px;
    margin: 10px auto;
    align-items: stretch;
    justify-content: space-between;
}

.gallery-toolbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.gallery-tool {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    border-radius: 3px;
    flex-basis: 50%;
}

.image-upload {
    justify-content: flex-start;
}

.meme-search-box {
    justify-content: flex-end;
}

@media (max-width:420px) {
    .upload-meme-btn {
        width: 100%;
    }
}

@media (min-width:420px) {
    .mobile-flex-con {
        display: unset;
    }
}

.meme-img {
    width: auto;
    height: 200px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    font-size: 0;
    box-sizing: border-box;
    border-radius: 3px;
}

.meme-img:hover {
    box-shadow: 0 0 0 2px #0963b8, 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.meme-search-box>* {
    width: initial;
}

.meme-search {
    margin-bottom: 0;
    padding: 0 0.5rem 0 25px;
}

.search-box-wrapper {
    position: relative;
}

.search-box-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    height: 40px;
    font-weight: 500;
    color: #999;
    font-size: 0.8em;
}

.add-meme-section label {
    margin-right: 0.2rem;
    margin-bottom: 0;
    padding: 0 0.5rem;
}

.add-meme-scetion label:hover {
    background: linear-gradient(to right, #f953c6, #b91d73);
    color: #fff;
}

@media (max-width:420px) {
    .meme-search-box>* {
        width: 100%;
    }
    .meme-search {
        margin-right: 0;
        margin-bottom: 0.2rem;
    }
    .add-meme-section>* {
        width: 100%;
    }
    .add-meme-section label {
        padding: 0;
    }
    .gallery-toolbar {
        flex-direction: column;
        /* justify-content: center; */
        text-align: center;
        margin-bottom: 0.8rem;
    }
    .gallery-tool {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }
}

@media (max-width:740px) {
    .grid-container {
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        max-width: 980px;
        align-items: stretch;
        justify-content: space-around;
    }
    .meme-img {
        width: 100%;
    }
}

/* Tags Style (keywords) */


.tags-wrapper {
    border: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 40px;
    border-radius: 3px;
    display: flex;
    justify-items: center;
    padding: 10px 0;
}

.tags-container {
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px;
}

@media (max-width:420px) {
    .tags-wrapper {
        order: 2;
    }
}

.tags-container span {
    margin-left: 5px;
    cursor: pointer;
}

/* ========== */

/* Editor */

/* ========== */

.editor-wrapper {
    text-align: center;
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.editor-container {
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    font-size: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.meme-background {
    max-height: 400px;
    width: auto;
}

@media(max-width:420px) {
    .meme-background {
        width: 100%;
        height: auto;
    }
}

@media (max-width:740px) {
    .canvas-main {
        max-width: 100%;
        max-height: auto;
    }
}

.caption-tools-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #1c2128;
    box-shadow: 0 0 5px rgba(28, 33, 40, 0);
    padding: 20px 0;
}

.caption-tools {
    max-width: 500px;
    margin: 10px auto 0px auto;
    text-align: center;
}

.edit-tools {
    display: flex;
    justify-content: center;
}

.caption-text-input {
    display: none;
    position: absolute;
}

/* Animations */

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    animation-duration: 1.3s;
}

@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/* Drop-Down-List */

ul.drop-down-list {
    position: absolute;
}

.search-box-wrapper .meme-search {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    /* margin-bottom: 12px; */
}

.search-box-wrapper .drop-down-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-box-wrapper .drop-down-list li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.search-box-wrapper .drop-down-list li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

/* End of drop-down-list settings */

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    text-align: center;
}

.modal-content {
    height: 300px;
    width: 300px;
    background: #fff;
    border-radius: 3px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.modal-content>* {
    width: 100%;
    margin-bottom: 1rem;
}
  
  .close-modal-btn {
    position: relative;
    right: -140px;
    top: -70px;
    cursor: pointer;
  }